 html {
   background-color:  #041315;
 }

.App {
  text-align: center;
}

nav {
  height: 100%;
  width: 190px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #08272b;
  overflow-x: hidden;
  padding-top: 10px;
}
.main-area {
  margin-top: 55px;
  margin-left: 210px;

}


.site-title {
  color: #C9FFE2;
  font-size: 35px;
}

input[type='text'] {
  border-radius: 3px;
  border: none;
  background-color: #C9FFE2;
  padding: 10px 10px;
  font-size: 20px;
}

#var2 {
    margin-left: 10px;
}

.output-area {
  margin-top: 15px;
}

.calc-area {
  margin-top: 35px;
  margin-left: 30%;

}

.calculator {
  float: left;
}

table {
  border-collapse: collapse;
}

button {
  background-color: #08272b;
  color: #C9FFE2;
  border: none;
  transition: background 550ms ease-in-out,   transform 150ms ease;
}

.input-area button {
  font-size: 20px;
  padding: 10px 40px;
  border-radius: 10px;
  margin-left: 10px;
}

table button {
    font-size: 25px;
    padding: 20px 30px;
}

button:hover {
  background-color: #C9FFE2;
  color:  #08272b;
}

button:active {
  transform: scale(0.95);
}

/* Operations block */

.opr-area {
  margin-left: 5px;
  margin-top: 1.5%;
  float:left;
  background-color: #08272b;
  padding: 10px 10px;
  font-size: 25px;
  border-radius: 15px;
  height: inherit;

}
.operations {
  background-color: #08272b;
  border: 1px solid #041315;
  color: #C9FFE2;
  border-radius: inherit;
  text-align: justify;

}

legend {
  background-color: #041315;
  padding: 10px 10px;
  border-radius: inherit;
}

/* Operations input block */
.operations label {
  margin: 3px 0 3px 5px;
  padding-left: 4px;
  padding-right: 5px;
  text-align: center;
  width: 80px;
  display: inline-block;
  border: 1px solid #08272b;
  border-radius: 10px;
  transition: border 300ms ease-in;

}

.operations input[type="radio"] {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #C9FFE2;
  border-radius: 50%;
  outline: none;
  background: #041315;
  transition: transform 300ms ease-in;

}

.operations input[type="radio"]:hover {
  transform: scale(1.3);
}

.operations input[type="radio"]:hover+label {
  border: 1px solid #C9FFE2;

}

.operations input[type="radio"]::before {
  content: '';
  display: block;
  width: 50%;
  height: 50%;
  margin: 25% auto;
  border-radius: 50%;
}

.operations input[type="radio"]:checked::before {
  background: #C9FFE2;
}
.operations input[type="radio"]:checked+label{
  background:  #C9FFE2;
  color: #041315;
  border-radius: 10px;


}

/* Operations input block end */


/* Operations block end*/

.fix:before,
.fix:after{
  content: "";
  display: table;

}
.fix:after {
    clear:both;
}

.fix {
  zoom: 1;
}
